  main {
    background-color: #F1F2F3;
    aspect-ratio: 10/16;
    border-radius: 1rem;
    height: 380px;
    width: 400px;
    box-shadow: #F1F2F3;
    display: flex;
    flex-direction: column;
    
  }
  div.container {
    aspect-ratio: 10/16;
    border-radius: 0.5rem;
    height: 60px;
    box-shadow: #F1F2F3;
    justify-content: space-between;
    display: flex;
  }

  div.body{
    display: grid;
    grid-template-columns: 300px 100px;
  }
  div.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    
  }
  div.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  span {
    grid-column: span 6;
    text-align: right;
    padding: 0.5rem;
  }
  span.resultado{
    color: #c8c9cf;;
    font-size: 2rem;
    height: 2rem;
  }
  span.display{
    font-size: 3rem;
    height: 3rem;
  }