main {
    background-color: #F1F2F3;
    aspect-ratio: 10/16;
    border-radius: 1rem;
    height: 90%;
    min-height: 600px;
    box-shadow: #F1F2F3;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
  }
  span {
    grid-column: span 4;
    text-align: right;
    padding: 0.5rem;
  }
  span.result{
    color: #c8c9cf;;
    font-size: 3rem;
    height: 3rem;
  }
  span.display{
    font-size: 4rem;
    height: 4rem;
  }